@import "tailwindcss";

html {
  scroll-behavior:smooth

}
body{
  background-color: rgb(28, 28, 28);
  font-family:cursive;
  color:white;
}

*{
    
    scrollbar-width: thin;
    scrollbar-color: #07ed99 rgb(248, 247, 247);

}

@keyframes fade-in{
  from{
    opacity: 0;
    transform: translateY(20px);
    filter:blur(20px)
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    filter:blur(0px)
    
  }
}
.animate-fade{
  animation: fade-in 1.5s ease-out both;
}