@import "tailwindcss";

html {
  scroll-behavior:smooth

}
body{
  background-color: rgb(28, 28, 28);
  font-family:cursive;
  color:white;
}

*{
    
    scrollbar-width: thin;
    scrollbar-color: #07ed99 rgb(248, 247, 247);

}

@keyframes fade-in{
  from{
    opacity: 0;
    transform: translateY(20px);
    filter:blur(20px)
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    filter:blur(0px)
    
  }
}
.animate-fade{
  animation: fade-in 1.5s ease-out both;
}


@keyframes slowdrift {

  0%,100%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(20px,-30px);

  }

  50%{
    transform: translate(-15px,-20px);

  }
  75%{
    transform: translate(30px,20px);

  }
}
.animation-delay-100{
  animation-delay: 100ms;
}.animation-delay-200{
  animation-delay: 200ms;
}.animation-delay-300{
  animation-delay: 300ms;
}.animation-delay-400{
  animation-delay: 400ms;
}.animation-delay-500{
  animation-delay: 500ms;
}.animation-delay-600{
  animation-delay: 600ms;
}

@keyframes border {
 0% { transform: translate(0px,0px);}
  100% { transform: translate(10px,10px) }
}
.animate-border{
animation:border  1.5s linear infinite
}
