@import "tailwindcss";

html {
  scroll-behavior:smooth

}
body{
  background-color: rgb(28, 28, 28);
  font-family:cursive;
  color:white;
}

*{
    
    scrollbar-width: thin;
    scrollbar-color: #07ed99 rgb(248, 247, 247);
}

@keyframes fade-in{
  from{
    opacity: 0;
    transform: translateY(20px);
    filter:blur(20px)
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    filter:blur(0px)
    
  }
}
@keyframes float{
0%, 100%{
transform:translateY(0);
}
50%{
transform:translateY(-10px);

}

}
@keyframes slide{
  from{
       transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
  
  
}

.animate{
  animation: float 4s ease-in-out infinite;
} 
.animate-fade{
  animation: fade-in 1.5s ease-out both;
}
.animate-slide{
  animation: slide 30s linear infinite;
  will-change: transform;
}

.glow-border{


}

@keyframes slowdrift {

  0%,100%{
    transform: translate(0,0);
  }
  25%{
    transform: translate(20px,-30px);

  }

  50%{
    transform: translate(-15px,-20px);

  }
  75%{
    transform: translate(30px,20px);

  }
}
.animation-delay-100{
  animation-delay: 100ms;
}.animation-delay-200{
  animation-delay: 200ms;
}.animation-delay-300{
  animation-delay: 300ms;
}.animation-delay-400{
  animation-delay: 400ms;
}.animation-delay-500{
  animation-delay: 500ms;
}.animation-delay-600{
  animation-delay: 600ms;
}

@keyframes border {
 0% ,100% { border-left: 3px solid rgb(8, 237, 203);}
  25% { border-bottom: 3px solid rgb(8, 237, 203) }
  50% { border-right: 3px solid rgb(8, 237, 203) }
  75%{
 border-top: 3px solid rgb(8, 237, 203) }

  
}
.animate-border:hover{
animation:border  3s linear infinite
}
